# DW Dreamweaver added files
_notes
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno

/wp-admin/
/wp-includes/
/xmlrpc.php
/wp-trackback.php
/wp-signup.php
/wp-settings.php
/wp-mail.php
/wp-login.php
/wp-load.php
/wp-links-opml.php
/wp-cron.php
/wp-config.php
/wp-config-sample.php
/wp-comments-post.php
/wp-blog-header.php
/wp-activate.php
/readme.html
/nhs.html
/license.txt
/index.php
/.htaccess
/wp-content/languages/
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/plugins/
/wp-content/themes/astra/
/wp-content/themes/twentytwenty/
/wp-content/themes/twentysixteen/
/wp-content/themes/twentyseventeen/
/wp-content/themes/twentynineteen/
/wp-content/themes/quality-orange/
/wp-content/themes/quality/